:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(16 31 34 / 0.8), rgb(16 31 34 / 0.8)), url("/assets/img/login-background.webp");
  background-repeat: no-repeat;
  background-size: cover;

  --tui-status-negative: rgba(255, 255, 255, 0);
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem;

  background-color: rgb(16 31 34 / 0.4);
  border-radius: 12px;
  border: solid 1px rgba(30, 41, 59, 0.4);
  width: 450px;
  height: max-content;
  box-shadow: -12px 25px 50px -12px rgba(0, 0, 0, 0.25);
  transition: all 1s;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      color: var(--tui-text-primary);
      font-size: 2rem;
      font-weight: bold;
    }

    &__subtitle {
      color: var(--tui-text-secondary);
    }
  }

  &__footer {
    display: flex;
    gap: 0.5rem;

    &__title {
      color: var(--tui-text-secondary);

      strong {
        color: var(--tui-text-primary-on-accent-2);
      }

      strong:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

  }
}

.invalid {
  --tui-status-negative: #ff8a1b;
}

@mixin shared-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem;

  --tui-background-base: #0F172A80;
  --tui-service-autofill-background: #0F172A80;
  --tui-text-tertiary: rgba(58, 72, 122, 0.5);

  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;


    &__label {
      color: #CBD5E1;
      font-size: 1rem;
    }

    tui-textfield {
      width: 100%;

      input::placeholder {
        color: #64748B;
        font-size: 1rem;
      }
    }
  }

  &__button {
    width: 100%;
    box-shadow: 0 0 15px rgba(19, 200, 236, 0.3);
    transition: 150ms all;
  }

  &__button:hover {
    scale: 1.01;
  }

}

.enter-animation {
  animation: slide-fade 1s;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

