<div class="header-title" routerLink="/">
  <img ngSrc="/assets/svg/app-icon.svg" alt="App Logo" width="32" height="32" >
  <span class="header-title__name">{{'APP_NAME' | translate}}</span>
</div>
<div class="header-actions">
  @if (isLoggedIn()) {
    <img class="header-actions__user-img" ngSrc="/assets/svg/app-icon.svg" alt="App Logo" width="32" height="32">

  }@else{
    <button routerLink="/login" class="header-actions__login" size="m" tuiButton>{{ 'COMPONENTS.HEADER.LOGIN' | translate}}</button>

  }
</div>
