:host {
  display: flex;
  height: 75px;
  padding: 0 2.5rem;
  border-bottom: 1px solid #283639;

  align-items: center;
  justify-content: space-between;
}

.header-title{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 150ms all;

  &:hover{
    scale: 1.01
  }

  &__name{
    color: var(--tui-text-primary);
  }
}

.header-actions{

  &__login{
    --tui-radius-m: 40px;
    box-shadow: 0 0 15px rgba(19, 200, 236, 0.3);
    transition: 150ms all;

    &:hover{
      scale: 1.01;
    }
  }


  &__user-img{
    border-radius: 100%
  }
}
