@let requests = invitations;
@if (requests) {
  <div class="invitations">
    <span class="invitations__title">{{ 'PAGES.MY_TRIPS.INVITATIONS_TITLE' | translate }}</span>
    <div class="invitations__list">
      @for (invitation of requests; track invitation) {
        <div class="invitations__list__item">
          <span class="invitations__list__item__time">HACE 2 DIAS</span>
          <span class="invitations__list__item__name">VERANO EN KYOTO</span>
          <span class="invitations__list__item__date">Jul 15 - Jul 22 • Invited by Sarah</span>
          <div class="invitations__list__item__actions">
            <button size="s" tuiButton type="button" >
              {{ 'PAGES.MY_TRIPS.ACCEPT' | translate }}
            </button>
            <button size="s" tuiButton type="button">
              {{ 'PAGES.MY_TRIPS.DECLINE' | translate }}
            </button>
          </div>
        </div>
      }

    </div>
  </div>
}


<div class="trip-header">
  <div class="trip-header__column">
    <span class="trip-header__column__title">{{ 'PAGES.MY_TRIPS.TITLE' | translate }}</span>
    <span class="trip-header__column__subtitle">{{ 'PAGES.MY_TRIPS.SUBTITLE' | translate }}</span>
  </div>
  <button routerLink="/create-trip" class="trip-header__add-trip" size="m" tuiButton type="button">
    <tui-icon icon="@tui.badge-plus" [style.height.rem]="2" />
    <span>{{ 'PAGES.LANDING.ADD_TRIP' | translate }}</span>
  </button>
</div>


<div class="tabs">
  <tui-tabs>
    <button tuiTab type="button">{{ 'PAGES.MY_TRIPS.TABS.ALL' | translate }}</button>
    <button tuiTab type="button">{{ 'PAGES.MY_TRIPS.TABS.UPCOMING' | translate }}</button>
    <button tuiTab type="button">{{ 'PAGES.MY_TRIPS.TABS.IN_PROGRESS' | translate }}</button>
    <button tuiTab type="button">{{ 'PAGES.MY_TRIPS.TABS.PAST' | translate }}</button>
  </tui-tabs>
</div>
