@use '../../../../../../styles' as *;

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background-image: none;
  gap: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__title {
    color: var(--tui-text-primary);
    font-size: 2rem;
    font-weight: bold;
  }

  &__subtitle {
    color: var(--tui-text-tertiary);
  }
}

.form {
  @include shared-form;
}




