<div class="side-bar">
  @let tripData = trip();
  @let selectedDay = day();

  @if (tripData) {
    <div style="display: flex; align-items: center; gap: 8px; justify-content: space-between">
      <span class="side-bar__trip-title">{{ tripData.title }}</span>
      <div style="display: flex; gap: 8px">
        <tui-icon class="side-bar__trip-action" icon="@tui.pencil" (click)="editTrip(tripData)" />
        <tui-icon class="side-bar__trip-action" (click)="deleteTrip(tripData.id)" icon="@tui.trash-2" />
      </div>
    </div>
    <span class="side-bar__trip-subtitle">{{ tripData.description }}</span>
    <span class="side-bar__trip-date">
      <span class="side-bar__trip-date-label">Del</span>
      <span class="side-bar__trip-date-value">{{ tripData.startDate | date: 'd MMMM' }}</span>
      <span class="side-bar__trip-date-label">al</span>
      <span class="side-bar__trip-date-value">{{ tripData.endDate | date: 'd MMMM' }}</span>
    </span>
    @if (userId() === tripData.createdById) {
      <tui-avatar-stack direction="right">
        @for (member of tripData.members; track member.id) {
          <tui-avatar size="m" [style.background]="member.user.name | tuiAutoColor"
                      [src]="member.user.name | tuiInitials" />
        }
        <tui-avatar (click)="addMember()" class="side-bar__add-member" size="m" [style.background-color]="'#e00b41'">
          <span class="side-bar__add-member__label">{{ 'PAGES.TRIP_DETAIL.ADD_MEMBER_BUTTON' | translate }}</span>
          <tui-icon [style.color]="'white'" icon="@tui.plus" />
        </tui-avatar>
      </tui-avatar-stack>
    }

  }
  <hr />
  <div class="side-bar__day-container">
    @for (day of tripDays(); track day.id; let index = $index) {
      <div
        class="side-bar__day-container__day"
        [class.selected]="selectedDay?.id === day.id"
        (click)="setSelectedDay(day.id)"
      >
        <div class="side-bar__day-container__day__number">
          <span>{{ 'PAGES.TRIP_DETAIL.DAY_LABEL' | translate }}</span>
          <span>{{ index + 1 }}</span>
        </div>
        <span class="side-bar__day-container__day__date">{{
            day.date | date: 'EEEE, d MMMM' | titlecase
          }}</span>
      </div>
    }
  </div>
</div>
<div class="timeline">
  <div class="timeline__item__card-placeholder" (click)="createOrEditActivity()">
    <tui-icon icon="@tui.badge-plus" />
    <span>{{ 'PAGES.TRIP_DETAIL.CREATE_ACTIVITY_BUTTON' | translate }}</span>
  </div>
  @if (selectedDay) {
    @for (activity of selectedDay.activities | sortActivitiesByTime; track activity.id; ) {
      <div class="timeline__item">
        <!-- Left side: Timeline line with icon -->
        <div class="timeline__item__left">
          <div class="timeline__item__left__icon">
            <tui-icon icon="@tui.map-pin" />
          </div>
          <div class="timeline__item__left__line"></div>
        </div>

        <!-- Right side: Activity card -->
        <div class="timeline__item__card" (click)="createOrEditActivity(activity)">
          <div style="display: flex; gap: 0.5rem; justify-content: space-between;">
            <span class="timeline__item__card__title">{{ activity.title }}</span>
            <tui-icon class="timeline__item__card__action" (click)="deleteActivity(activity.id, $event)" icon="@tui.trash-2" />
          </div>
          <div style="display: flex; gap: 0.5rem">
            <span class="timeline__item__card__time"
            >{{ activity.startTime | date: 'HH:mm' }} -
              {{ activity.endTime | date: 'HH:mm' }}</span
            >
            @if (activity.location) {
              <a
                class="timeline__item__card__location clicable"
                [href]="
                  activity.location.startsWith('http://') ||
                  activity.location.startsWith('https://') ||
                  activity.location.startsWith('maps.')
                    ? (activity.location | encodeURI)
                    : 'https://www.google.com/maps/search/' + (activity.location | encodeURI)
                "
                target="_blank"
                rel="noopener noreferrer"
                (click)="$event.stopPropagation()"
              >
                <tui-icon icon="@tui.map-pin" />
                <span>{{ 'PAGES.TRIP_DETAIL.VIEW_IN_MAPS' | translate }}</span>
              </a>
            }
          </div>
          <span class="timeline__item__card__description">
            {{ activity.description }}
          </span>
        </div>
      </div>
    }
  }
</div>
