@use "styles";

:host {
  display: flex;
}

.form-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  height: fit-content;
  padding: 1rem;
  min-width: min(400px, 100%);
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--tui-background-neutral-2);

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;

    tui-icon {
      color: var(--tui-text-positive);
    }

    &__title {
      color: var(--tui-text-primary);
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__field {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &__label {
        font-weight: 500;
        color: var(--tui-text-primary);
      }

      &__calendar {
        font-size: 1rem;
      }

      tui-textfield {
        @extend %tui-textField;

        textarea {
          --t-shadow: none;
          caret-color: var(--tui-text-primary);
          outline-color: transparent;
          font-size: 1rem;
        }

        textarea:hover {
          box-shadow: none;
        }

        textarea::placeholder {
          color: var(--tui-text-disabled);
          font-size: 1rem;
        }

        textarea:focus::placeholder {
          color: var(--tui-text-disabled);
        }
      }
    }

    &__button {
      &:hover {
        box-shadow: 0 0 15px var(--tui-background-accent-2);
        scale: 1.01;
      }
    }
  }
}

