<div class="info">
  <span class="info__title">{{ 'PAGES.CREATE_TRIP.INFO_TITLE' | translate }}</span>
  <span class="info__subtitle">{{ 'PAGES.CREATE_TRIP.INFO_DESCRIPTION' | translate }}</span>
  <div class="info__list-item">
    <div class="info__list-item__icon">
      <tui-icon icon="@tui.calendar-search" />
    </div>
    <div class="info__list-item__content">
      <span class="info__list-item__content__title">{{ 'PAGES.CREATE_TRIP.FEATURE_1_TITLE' | translate }}</span>
      <span class="info__list-item__content__subtitle">{{ 'PAGES.CREATE_TRIP.FEATURE_1_DESC' | translate }}</span>
    </div>

  </div>
  <div class="info__list-item">
    <div class="info__list-item__icon">
      <tui-icon icon="@tui.wand-sparkles" />
    </div>
    <div class="info__list-item__content">
      <span class="info__list-item__content__title">{{ 'PAGES.CREATE_TRIP.FEATURE_2_TITLE' | translate }}</span>
      <span class="info__list-item__content__subtitle">{{ 'PAGES.CREATE_TRIP.FEATURE_2_DESC' | translate }}</span>
    </div>

  </div>
  <div class="info__list-item">
    <div class="info__list-item__icon">
      <tui-icon icon="@tui.users-round" />
    </div>
    <div class="info__list-item__content">
      <span class="info__list-item__content__title">{{ 'PAGES.CREATE_TRIP.FEATURE_3_TITLE' | translate }}</span>
      <span class="info__list-item__content__subtitle">{{ 'PAGES.CREATE_TRIP.FEATURE_3_DESC' | translate }}</span>
    </div>

  </div>
</div>

<div class="form-container">
  <div class="form-container__header">
    <tui-icon icon="@tui.palette" />
    <span class="form-container__header__title">{{ 'PAGES.CREATE_TRIP.TRIP_DETAILS' | translate }}</span>
  </div>
  <form class="form-container__form" (submit)="onSubmit()">

    <div class="form-container__form__field">
      <span class="form-container__form__field__label">{{ "PAGES.CREATE_TRIP.LOCATION_LABEL" | translate }}</span>
      <tui-textfield [tuiTextfieldSize]="'m'">
        <input [formControl]="createTripForm.controls.location" placeholder="Valencia, Spain" tuiTextfield />
      </tui-textfield>
      @if (createTripForm.controls.location.touched && createTripForm.controls.location.errors) {
        <div class="form-field-error">
          @if (createTripForm.controls.location.errors['required']) {
            <span>{{ 'COMMON.VALIDATORS.LOCATION_REQUIRED' | translate }}</span>
          }
          @if (createTripForm.controls.location.errors['maxlength']) {
            <span>{{ 'COMMON.VALIDATORS.TITLE_MAX_LENGTH' | translate: { count: 50 } }}</span>
          }
        </div>
      }
    </div>

    <div class="form-container__form__field">
      <span class="form-container__form__field__label">{{ "PAGES.CREATE_TRIP.DESCRIPTION_LABEL" | translate }}</span>
      <tui-textfield [tuiTextfieldSize]="'m'">
        <textarea [formControl]="createTripForm.controls.description" [limit]="200" [max]="6" [min]="3"
                  tuiTextarea placeholder="Descripción increiblemente chula sobre Valencia"></textarea>
      </tui-textfield>
      @if (createTripForm.controls.description.touched && createTripForm.controls.description.errors) {
        <div class="form-field-error">
          @if (createTripForm.controls.description.errors['maxlength']) {
            <span>{{ 'COMMON.VALIDATORS.DESCRIPTION_MAX_LENGTH' | translate: { count: 200 } }}</span>
          }
        </div>
      }
    </div>

    <div class="form-container__form__field">
      <span class="form-container__form__field__label">{{ "PAGES.CREATE_TRIP.DATE_LABEL" | translate }}</span>
      <tui-textfield class="form-container__form__field__calendar" [tuiTextfieldCleaner]="false"
                     [tuiTextfieldSize]="'m'">
        <input tuiInputDateRange [formControl]="createTripForm.controls.dateRange"
               placeholder="DD-MM-YYYY - DD-MM-YYYY" />
        <tui-calendar-range *tuiTextfieldDropdown />
      </tui-textfield>
      @if (createTripForm.controls.dateRange.touched && createTripForm.controls.dateRange.errors) {
        <div class="form-field-error">
          @if (createTripForm.controls.dateRange.errors['required']) {
            <span>{{ 'COMMON.VALIDATORS.DATE_RANGE_REQUIRED' | translate }}</span>
          }
        </div>
      }
    </div>


    <button [disabled]="createTripForm.invalid" type="submit" class="form__button" size="m"
            tuiButton>
      <span>{{ "PAGES.CREATE_TRIP.CREATE_BUTTON" | translate }}</span>
    </button>
  </form>
</div>
