<div class="info">
  <span class="info__title">{{ 'PAGES.CREATE_TRIP.INFO_TITLE' | translate }}</span>
  <span class="info__subtitle">{{ 'PAGES.CREATE_TRIP.INFO_DESCRIPTION' | translate }}</span>
  <div class="info__list-item">
    <div class="info__list-item__icon">
      <tui-icon icon="@tui.calendar-search" />
    </div>
    <div class="info__list-item__content">
      <span class="info__list-item__content__title">{{ 'PAGES.CREATE_TRIP.FEATURE_1_TITLE' | translate }}</span>
      <span class="info__list-item__content__subtitle">{{ 'PAGES.CREATE_TRIP.FEATURE_1_DESC' | translate }}</span>
    </div>

  </div>
  <div class="info__list-item">
    <div class="info__list-item__icon">
      <tui-icon icon="@tui.wand-sparkles" />
    </div>
    <div class="info__list-item__content">
      <span class="info__list-item__content__title">{{ 'PAGES.CREATE_TRIP.FEATURE_2_TITLE' | translate }}</span>
      <span class="info__list-item__content__subtitle">{{ 'PAGES.CREATE_TRIP.FEATURE_2_DESC' | translate }}</span>
    </div>

  </div>
  <div class="info__list-item">
    <div class="info__list-item__icon">
      <tui-icon icon="@tui.users-round" />
    </div>
    <div class="info__list-item__content">
      <span class="info__list-item__content__title">{{ 'PAGES.CREATE_TRIP.FEATURE_3_TITLE' | translate }}</span>
      <span class="info__list-item__content__subtitle">{{ 'PAGES.CREATE_TRIP.FEATURE_3_DESC' | translate }}</span>
    </div>

  </div>
</div>

<app-trip-form mode="create" (formSubmit)="onSubmit($event)" />
