@use "styles";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 3rem 8rem;
  gap: 4rem;
  box-sizing: border-box;
  background-image: url("/assets/img/create-trip-background.jpg");


}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__title {
    font-size: 3rem;
    font-weight: 900;
    background: linear-gradient(135deg, #222222, #FF5A5F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  &__subtitle {
    font-size: 1rem;
    color: var(--tui-text-tertiary);
  }

  &__list-item {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;

    &__icon {
      @extend %square-icon
    }

    &__content {
      display: flex;
      flex-direction: column;

      &__title {
        font-size: 1rem;
        color: var(--tui-text-primary);
      }

      &__subtitle {
        font-size: 14px;
        color: var(--tui-text-tertiary);
        font-weight: 400;
      }
    }
  }
}

app-trip-form {
  flex: 1;
}

.loading{
  justify-content: center;
  position: fixed;
  align-items: center;
  background-color: rgb(255 255 255 / 0.7);
  display: flex;
  gap: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  span {
    font-size: 1rem;
    font-weight: 700;
  }
}
