@use '@taiga-ui/core/styles/taiga-ui-local';

:root {
  //TEXT

  --tui-text-primary: #0f172a;
  --tui-text-secondary: #64748b;
  --tui-text-tertiary: #88898f;
  --tui-text-disabled: #94a3b8;
  --tui-text-negative: #e00b41;
  --tui-text-positive: #e00b41;
  --tui-text-link: #3b82f6;
  --tui-text-action: #e00b41;

  // BACKGROUNDS

  --tui-background-base: #f7f7f7;
  --tui-base-01: #f7f7f7;
  --tui-base-02: #eeeeee;
  --tui-base-03: #e5e5e5;
  --tui-base-04: #d1d5db;
  --tui-base-05: #9ca3af;
  --tui-base-06: #6b7280;
  --tui-base-07: #374151;

  --tui-background: #ffffff;
  --tui-background-neutral-1: #f3f4f6;
  --tui-background-neutral-2: #ebebeb;
  --tui-background-accent-1: #e00b41;
  --tui-background-accent-1-hover: #e00b41;
  --tui-background-accent-2: #ffb8bd;
  --tui-background-accent-3: rgba(255, 90, 95, 0.11);

  --app-stroke-color: #e5e7eb;
  --tui-border-focus: rgba(255, 255, 255, 0);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Inter, 'Helvetica Neue', sans-serif;
}

//CUSTOM COMMON CLASSES

.form-field-error {
  color: var(--tui-text-negative);
  font-size: 12px;
}

%tui-textField {
  width: 100%;
  border: solid 1px var(--tui-background-neutral-2);
  --tui-status-negative: var(--tui-background-neutral-2);

  input,
  textarea {
    --t-shadow: none;
    caret-color: var(--tui-text-primary);
    outline-color: transparent;
  }

  input:hover,
  textarea:hover {
    box-shadow: none;
  }

  input:focus::placeholder,
  textarea:focus::placeholder {
    color: var(--tui-text-disabled);
  }
}

%common-form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

%square-icon {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  background-color: var(--tui-background-accent-3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: var(--tui-text-positive);
}
